# === IGNORAR DATOS Y ARCHIVOS GRANDES ===
!data/.gitkeep  # Conserva la estructura de carpetas
data/*
!data/raw.dvc
!data/raw/.gitignore
!data/.gitkeep
# === IGNORAR ARCHIVOS DE PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === ENTORNOS VIRTUALES ===
venv/
.venv/

# === NOTEBOOKS Y CHECKPOINTS ===
.ipynb_checkpoints/

# === LOGS Y ARCHIVOS TEMPORALES ===
*.log
*.tmp
*.bak
*.swp

# === SISTEMAS DE ARCHIVOS OCULTOS ===
.DS_Store
Thumbs.db

# === CONFIGURACIONES DE EDITOR ===
.vscode/
/models
